{% extends 'base.html' %}

{% block header %}
            <div class="row">
                <div class="col-sm">
                    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                       
                        <div class="col">
                        <img class="logo" src="../images/LogoDiamond.jpg" alt="diamond">
                            <h3 class="logotext">Shine</h3><h4 class="logotext">AUCTIONS</h4>
                            <img class="logo" id="right" src="../images/LogoDiamond.jpg" alt="diamond">
                        </div>
                        <div class="col"><br><h2>Antique and Vintage Jewellery</h2></div>
    </form>
                </div>
            </div>
            <div class="row text">
                <div class="col"><br>On Sale</div>
                <div class="col"><br>Free Shipping > $120</div>
                <div class="col"><br><a class="nav-link" href="list_item">List Your Item</a></div>
            </div>
        </div>
        <div class="row text">
            <div class="col"><br>Current Auctions:</div>
            <div class="col"><br>Auction 1 | Ends: 1 days</div>
            <div class="col"><br>Auction 2 | Ends: 3 days</div>
            <div class="col"><br>Upcoming Auctions:</div>
            <div class="col"><br>Auction 3 | Starts: 4 days</div>
            <div class="col"><br>Auction 4 | Starts: 6 days</div>
        <br></div>
{% endblock %}

{% block content %}
    <main></main><br><br>
    <h1>My Watchlist</h1><br>
    <div class="row center">
        <div class="col-md-0.5"></div>
        <div class="col">
            <div class="card small">
            <a class="btn btn-primary" href="#" role="button">Delete from Watchlist</a>
                <a href="item_details"><img class="smaller_img" src="../images/SilverSapphireRing.jpg" alt="Silver Sapphire Ring"></a>
        <h2>{{ item.name }}</h2>
                <div class="row no-gutters"><div class="col-3"></div>
            <div class="col-2">
            <p>$89.00</p></div><div class="col-2 sale"><p>$138.50</p></div><div class="col-2"><p>(0 Bids)</p></div></div>
            <p>Date Added: 10/09/20</p>
        </div></div>
        
        <div class="col">
            <div class="card small">
            <a class="btn btn-primary" href="#" role="button">Delete from Watchlist</a>
                <a href="item_details"><img class="smaller_img" src="../images/SilverDiamondRing.jpg" alt="Silver Diamond Ring"></a>
        <h2>{{ item.name }}</h2>
                <div class="row no-gutters"><div class="col-4"></div>
            <div class="col-2">
            <p>$233.00</p></div><div class="col-2"><p>(4 Bids)</p></div></div>
            <p>Date Added: 10/09/20</p>
        </div></div>
    
        <div class="col">
            <div class="card small">
                <a class="btn btn-primary" href="#" role="button">Delete from Watchlist</a>
                <a href="item_details"><img class="smaller_img" src="../images/SilverRoseEarrings.jpg" alt="Silver Rose Quartz Earrings"></a>
        <h2>{{ item.name }}</h2>
                <div class="row no-gutters"><div class="col-3"></div>
                    <div class="col-2">
                        <p>$105.00</p></div><div class="col-2 sale"><p>$145.90</p></div><div class="col-2"><p>(1 Bid)</p></div></div>
                    <p>Date Added: 12/09/20</p>                
            </div></div></div>
        
        <div class="row center">
        <div class="col-4"><br><br>
            <div class="card small">
            <a class="btn btn-primary" href="#" role="button">Delete from Watchlist</a>
                <a href="item_details"><img class="smaller_img" src="../images/SilverGeometricPendant.jpg" alt="Silver Geometric Pendant"></a>
        <h2>{{ item.name }}</h2>
                <div class="row no-gutters"><div class="col-4"></div>
            <div class="col-2">
            <p>$169.00</p></div><div class="col-2"><p>(2 Bids)</p></div></div>
            <p>Date Added: 12/09/20</p>
        </div></div>
    
        <div class="col"><br><br>
            <div class="card small">
                <a class="btn btn-primary" href="#" role="button">Delete from Watchlist</a>
                <a href="item_details"><img class="smaller_img" src="../images/GoldDropEarrings.jpg" alt="Gold Drop Earrings"></a>
        <h2>{{ item.name }}</h2>
                <div class="row no-gutters"><div class="col-3"></div>
                    <div class="col-2">
                        <p>$215.00</p></div><div class="col-2 sale"><p>$362.40</p></div><div class="col-2"><p>(1 Bid)</p></div></div>
                    <p>Date Added: 13/09/20</p>                
            </div></div>
        
        </div>
    
    <br><br><br>
{% endblock %}